fastapi
uvicorn
pydantic[email]
python-dotenv
langchain
langchain_community
langchain_huggingface
sentence_transformers
PyJWT
openai
google-api-python-client
google-auth
chromadb
faiss-cpu
tiktoken
pandas
numpy
scikit-learn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pdfplumber
PyMuPDF
pytesseract
email-validator
beautifulsoup4
requests
apscheduler
lxml
reportlab
anthropic>=0.25.0
playwright
aiofiles
h2
httpx[http2]
firebase-admin
python-pptx==0.6.21
pillow>=10.4
python-docx==0.8.11